/* line 2, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/main.scss */
html > .container, body > .container {
  display: none;
}

/* line 10, ../sass/main.scss */
html #header .top .region-content, body #header .top .region-content {
  z-index: 101;
}

/* line 14, ../sass/main.scss */
html #header .header-bottom, body #header .header-bottom {
  z-index: 100;
}

/* line 18, ../sass/main.scss */
html #footer, body #footer {
  margin-top: 10px;
}

/* line 26, ../sass/main.scss */
#wrapper-experiencia-sou {
  padding-top: 195px;
}

#wrapper-experiencia-sou #experiencia-sou {
  width: 968px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#wrapper-experiencia-sou #experiencia-sou > .inner-scroll {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#wrapper-experiencia-sou #experiencia-sou > .inner-scroll .page-sou {
  position: relative;
}

#wrapper-experiencia-sou #experiencia-sou p {
  margin: 0;
  padding: 0;
}

#wrapper-experiencia-sou #experiencia-sou .sou-watch {
  width: 78px;
  height: 147px;
  top: 10px;
  right: 10px;
  z-index: 30;
  position: absolute;
  background: url("../img/watch.png") no-repeat;
}

#wrapper-experiencia-sou #experiencia-sou .sou-watch.finished {
  background-position: -78px 0;
}

#wrapper-experiencia-sou #experiencia-sou .sou-watch .sou-percent {
  color: #FFF;
  font-size: 35px;
  font-family: GillSans, Verdana;
  top: 64px;
  left: 13px;
  position: absolute;
}

#wrapper-experiencia-sou #experiencia-sou .sou-ver-produtos {
  width: 170px;
  height: 170px;
  top: 275px;
  left: 30px;
  z-index: 25;
  position: absolute;
}

#wrapper-experiencia-sou #experiencia-sou .sou-ver-produtos .big-text, #wrapper-experiencia-sou #experiencia-sou .sou-ver-produtos .small-text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  text-indent: -999em;
}

#wrapper-experiencia-sou #experiencia-sou .sou-ver-produtos img {
  top: 0;
  left: 0;
  position: absolute;
}

#expsou-intro {
  z-index: 20;
  background-color: #fff;
  height: 541px;
}

#expsou-intro .sou-scroll {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#expsou-intro .banner-sou {
  border-bottom: 12px solid #7371bc;
}

#expsou-intro .sou-products {
  height: 438px;
}

#expsou-intro .sou-products .sou-drop {
  position: absolute;
}

#expsou-intro .sou-products .sou-drop span {
  position: absolute;
}

#expsou-intro .sou-products .sou-bottle, #expsou-intro .sou-products .sou-video {
  position: absolute;
}

#expsou-intro .sou-products .sou-drop {
  width: 380px;
  height: 426px;
  top: 367px;
  left: 34px;
  z-index: 4;
  background-repeat: no-repeat;
  background-image: url("../img/intro/sprite-gota.png");
}

#expsou-intro .sou-products .sou-drop[data-step="1"] {
  background-position: 0 0;
}

#expsou-intro .sou-products .sou-drop[data-step="2"] {
  background-position: 0 -452px;
}

#expsou-intro .sou-products .sou-drop[data-step="3"] {
  background-position: 0 -902px;
}

#expsou-intro .sou-products .sou-drop[data-step="4"] {
  background-position: 0 -1353px;
}

#expsou-intro .sou-products .sou-drop[data-step="5"] {
  background-position: 0 -1804px;
}

#expsou-intro .sou-products .sou-drop[data-step="6"] {
  background-position: -381px 0;
}

#expsou-intro .sou-products .sou-drop[data-step="7"] {
  background-position: -381px -452px;
}

#expsou-intro .sou-products .sou-drop[data-step="8"] {
  background-position: -381px -902px;
}

#expsou-intro .sou-products .sou-drop[data-step="9"] {
  background-position: -381px -1353px;
}

#expsou-intro .sou-products .sou-drop[data-step="10"] {
  background-position: -381px -1804px;
}

#expsou-intro .sou-products .sou-drop[data-step="11"] {
  background-position: -762px 0;
}

#expsou-intro .sou-products .sou-drop[data-step="12"] {
  background-position: -762px -451px;
}

#expsou-intro .sou-products .sou-drop[data-step="13"] {
  background-position: -762px -902px;
}

#expsou-intro .sou-products .sou-drop[data-step="14"] {
  background-position: -762px -1353px;
}

#expsou-intro .sou-products .sou-drop[data-step="15"] {
  background-position: -762px -1804px;
}

#expsou-intro .sou-products .sou-drop[data-step="16"] {
  background-position: -1143px 0;
}

#expsou-intro .sou-products .sou-drop[data-step="17"] {
  background-position: -1143px -451px;
}

#expsou-intro .sou-products .sou-drop[data-step="18"] {
  background-position: -1143px -902px;
}

#expsou-intro .sou-products .sou-drop[data-step="19"] {
  background-position: -1143px -1353px;
}

#expsou-intro .sou-products .sou-drop[data-step="20"] {
  background-position: -1143px -1804px;
}

#expsou-intro .sou-products .sou-drop[data-step="21"] {
  background-position: -1524px 0;
}

#expsou-intro .sou-products .sou-drop[data-step="22"] {
  background-position: -1524px -451px;
}

#expsou-intro .sou-products .sou-drop[data-step="23"] {
  background-position: -1524px -902px;
}

#expsou-intro .sou-products .sou-drop[data-step="24"] {
  background-position: -1524px -1353px;
}

#expsou-intro .sou-products .sou-drop[data-step="25"] {
  background-position: -1524px -1804px;
}

#expsou-intro .sou-products .sou-drop[data-step="26"] {
  background-position: -1905px 0;
}

#expsou-intro .sou-products .sou-drop[data-step="27"] {
  background-position: -1905px -451px;
}

#expsou-intro .sou-products .sou-drop[data-step="28"] {
  background-position: -1905px -902px;
}

#expsou-intro .sou-products .sou-drop[data-step="29"] {
  background-position: -1905px -1353px;
}

#expsou-intro .sou-products .sou-drop[data-step="30"] {
  background-position: -1905px -1804px;
}

#expsou-intro .sou-products .sou-drop[data-step="31"] {
  background-position: -2286px 0;
}

#expsou-intro .sou-products .sou-drop[data-step="32"] {
  background-position: -2286px -451px;
}

#expsou-intro .sou-products .sou-drop[data-step="33"] {
  background-position: -2286px -902px;
}

#expsou-intro .sou-products .sou-drop[data-step="34"] {
  background-position: -2286px -1353px;
}

#expsou-intro .sou-products .sou-drop[data-step="35"] {
  background-position: -2286px -1804px;
}

#expsou-intro .sou-products .sou-drop[data-step="36"] {
  background-position: -2667px 0;
}

#expsou-intro .sou-products .sou-drop[data-step="37"] {
  background-position: -2667px -451px;
}

#expsou-intro .sou-products .sou-drop[data-step="38"] {
  background-position: -2667px -902px;
}

#expsou-intro .sou-products .sou-drop[data-step="39"] {
  background-position: -2667px -1353px;
}

#expsou-intro .sou-products .sou-drop[data-step="40"] {
  background-position: -2667px -1804px;
}

#expsou-intro .sou-products .sou-drop span {
  width: 217px;
  height: 238px;
  top: 129px;
  left: 80px;
  text-indent: -999em;
  background: url("../img/intro/gota-texto.png") no-repeat;
}

#expsou-intro .sou-products .sou-video {
  width: 431px;
  height: 290px;
  top: 468px;
  left: 1200px;
  padding: 4px;
  z-index: 3;
  cursor: pointer;
  background: url("../img/intro/video-frame.jpg") no-repeat;
}

#expsou-intro .sou-products .sou-video .sou-cover {
  top: 4px;
  left: 4px;
  z-index: 50;
  position: absolute;
}

#expsou-intro .sou-products .sou-bottle {
  background: url("../img/intro/sprite-produtos.png") no-repeat;
}

#expsou-intro .sou-products .sou-bottle.purple {
  width: 175px;
  height: 239px;
  top: 490px;
  left: -200px;
  z-index: 2;
}

#expsou-intro .sou-products .sou-bottle.green-1 {
  width: 130px;
  height: 190px;
  top: 497px;
  left: 1200px;
  z-index: 1;
  background-position: -204px -49px;
}

#expsou-intro .sou-products .sou-bottle.green-2 {
  width: 80px;
  height: 129px;
  top: 523px;
  left: 1200px;
  background-position: -362px -110px;
}

#expsou-formula {
  z-index: 19;
  background: #7190cb;
}

#expsou-formula .sou-stage {
  width: 968px;
  height: 505px;
  top: 50%;
  margin-top: -252px;
  position: absolute;
  background: url("../img/formula/bg.jpg") no-repeat;
}

#expsou-formula .sou-stage .sou-logo, #expsou-formula .sou-stage .formula-sem-excesso, #expsou-formula .sou-stage .sou-deixa-de-lado {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/formula/sprite-text.png");
}

#expsou-formula .sou-stage .sou-logo.sou-logo,
#expsou-formula .sou-stage .formula-sem-excesso.sou-logo,
#expsou-formula .sou-stage .sou-deixa-de-lado.sou-logo {
  width: 103px;
  height: 54px;
  top: 45px;
  left: 125px;
}

#expsou-formula .sou-stage .sou-logo.formula-sem-excesso,
#expsou-formula .sou-stage .formula-sem-excesso.formula-sem-excesso,
#expsou-formula .sou-stage .sou-deixa-de-lado.formula-sem-excesso {
  width: 367px;
  height: 38px;
  top: 89px;
  left: 125px;
  background-position: 0 -44px;
}

#expsou-formula .sou-stage .sou-logo.sou-deixa-de-lado,
#expsou-formula .sou-stage .formula-sem-excesso.sou-deixa-de-lado,
#expsou-formula .sou-stage .sou-deixa-de-lado.sou-deixa-de-lado {
  width: 326px;
  height: 69px;
  top: 134px;
  left: 125px;
  background-position: 0 -88px;
}

#expsou-formula .sou-stage .sou-bolha1, #expsou-formula .sou-stage .sou-bolha2,
#expsou-formula .sou-stage .sou-bolha3, #expsou-formula .sou-stage .sou-bolha4,
#expsou-formula .sou-stage .sou-bolha5, #expsou-formula .sou-stage .sou-bolha6 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/formula/bolhas.png");
}

#expsou-formula .sou-stage .sou-bolha1.sou-bolha1, #expsou-formula .sou-stage .sou-bolha2.sou-bolha1, #expsou-formula .sou-stage .sou-bolha3.sou-bolha1, #expsou-formula .sou-stage .sou-bolha4.sou-bolha1, #expsou-formula .sou-stage .sou-bolha5.sou-bolha1, #expsou-formula .sou-stage .sou-bolha6.sou-bolha1 {
  width: 19px;
  height: 19px;
  top: 89px;
  left: 593px;
  background-position: 0 -76px;
}

#expsou-formula .sou-stage .sou-bolha1.sou-bolha2, #expsou-formula .sou-stage .sou-bolha2.sou-bolha2, #expsou-formula .sou-stage .sou-bolha3.sou-bolha2, #expsou-formula .sou-stage .sou-bolha4.sou-bolha2, #expsou-formula .sou-stage .sou-bolha5.sou-bolha2, #expsou-formula .sou-stage .sou-bolha6.sou-bolha2 {
  width: 97px;
  height: 98px;
  top: 13px;
  left: 639px;
  background-position: -46px 0;
}

#expsou-formula .sou-stage .sou-bolha1.sou-bolha3, #expsou-formula .sou-stage .sou-bolha2.sou-bolha3, #expsou-formula .sou-stage .sou-bolha3.sou-bolha3, #expsou-formula .sou-stage .sou-bolha4.sou-bolha3, #expsou-formula .sou-stage .sou-bolha5.sou-bolha3, #expsou-formula .sou-stage .sou-bolha6.sou-bolha3 {
  width: 45px;
  height: 46px;
  top: 119px;
  left: 637px;
  background-position: -44px -106px;
}

#expsou-formula .sou-stage .sou-bolha1.sou-bolha4, #expsou-formula .sou-stage .sou-bolha2.sou-bolha4, #expsou-formula .sou-stage .sou-bolha3.sou-bolha4, #expsou-formula .sou-stage .sou-bolha4.sou-bolha4, #expsou-formula .sou-stage .sou-bolha5.sou-bolha4, #expsou-formula .sou-stage .sou-bolha6.sou-bolha4 {
  width: 19px;
  height: 19px;
  top: 294px;
  left: 736px;
  background-position: -143px -281px;
}

#expsou-formula .sou-stage .sou-bolha1.sou-bolha5, #expsou-formula .sou-stage .sou-bolha2.sou-bolha5, #expsou-formula .sou-stage .sou-bolha3.sou-bolha5, #expsou-formula .sou-stage .sou-bolha4.sou-bolha5, #expsou-formula .sou-stage .sou-bolha5.sou-bolha5, #expsou-formula .sou-stage .sou-bolha6.sou-bolha5 {
  width: 45px;
  height: 45px;
  top: 310px;
  left: 750px;
  background-position: -157px -297px;
}

#expsou-formula .sou-stage .sou-cano1, #expsou-formula .sou-stage .sou-cano2, #expsou-formula .sou-stage .sou-cano3, #expsou-formula .sou-stage .sou-frasco, #expsou-formula .sou-stage .sou-torneira {
  position: absolute;
}

#expsou-formula .sou-stage .sou-cano1.sou-cano1, #expsou-formula .sou-stage .sou-cano2.sou-cano1, #expsou-formula .sou-stage .sou-cano3.sou-cano1, #expsou-formula .sou-stage .sou-frasco.sou-cano1, #expsou-formula .sou-stage .sou-torneira.sou-cano1 {
  width: 299px;
  height: 1500px;
  top: -1243px;
  right: 30px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/cano1.png");
}

#expsou-formula .sou-stage .sou-cano1.sou-cano2, #expsou-formula .sou-stage .sou-cano2.sou-cano2, #expsou-formula .sou-stage .sou-cano3.sou-cano2, #expsou-formula .sou-stage .sou-frasco.sou-cano2, #expsou-formula .sou-stage .sou-torneira.sou-cano2 {
  width: 1081px;
  height: 800px;
  top: -471px;
  left: -184px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/cano2.png");
}

#expsou-formula .sou-stage .sou-cano1.sou-cano3, #expsou-formula .sou-stage .sou-cano2.sou-cano3, #expsou-formula .sou-stage .sou-cano3.sou-cano3, #expsou-formula .sou-stage .sou-frasco.sou-cano3, #expsou-formula .sou-stage .sou-torneira.sou-cano3 {
  width: 217px;
  height: 133px;
  top: 3px;
  right: -102px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/cano3.png");
}

#expsou-formula .sou-stage .sou-cano1.sou-frasco, #expsou-formula .sou-stage .sou-cano2.sou-frasco, #expsou-formula .sou-stage .sou-cano3.sou-frasco, #expsou-formula .sou-stage .sou-frasco.sou-frasco, #expsou-formula .sou-stage .sou-torneira.sou-frasco {
  width: 106px;
  height: 113px;
  left: 118px;
  bottom: -130px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/frasco.png");
}

#expsou-formula .sou-stage .sou-cano1.sou-torneira, #expsou-formula .sou-stage .sou-cano2.sou-torneira, #expsou-formula .sou-stage .sou-cano3.sou-torneira, #expsou-formula .sou-stage .sou-frasco.sou-torneira, #expsou-formula .sou-stage .sou-torneira.sou-torneira {
  width: 562px;
  height: 215px;
  top: 263px;
  left: -353px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/torneira.png");
}

#expsou-formula .sou-stage .sou-cano1.sou-torneira .sou-liquido, #expsou-formula .sou-stage .sou-cano2.sou-torneira .sou-liquido, #expsou-formula .sou-stage .sou-cano3.sou-torneira .sou-liquido, #expsou-formula .sou-stage .sou-frasco.sou-torneira .sou-liquido, #expsou-formula .sou-stage .sou-torneira.sou-torneira .sou-liquido {
  width: 5px;
  top: 214px;
  right: 41px;
  position: absolute;
  background: url("../img/formula/gota.png") no-repeat center bottom;
}

#expsou-processo {
  z-index: 18;
  background: #7068ae;
}

#expsou-processo .sou-topo {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  background: url("../img/processo/topo.png") no-repeat;
}

#expsou-processo .sou-stage {
  width: 968px;
  height: 498px;
  top: 50%;
  margin-top: -247px;
  position: absolute;
  background: url("../img/processo/bg.jpg") no-repeat;
}

#expsou-processo .sou-stage .sou-logo,
#expsou-processo .sou-stage .sou-processo-eficiente,
#expsou-processo .sou-stage .sou-e-feito-de-um-jeito {
  position: absolute;
  text-indent: -999em;
  background: url("../img/processo/sprite-texto.png") no-repeat;
}

#expsou-processo .sou-stage .sou-logo.sou-logo,
#expsou-processo .sou-stage .sou-processo-eficiente.sou-logo,
#expsou-processo .sou-stage .sou-e-feito-de-um-jeito.sou-logo {
  width: 102px;
  height: 44px;
  top: 88px;
  left: 331px;
}

#expsou-processo .sou-stage .sou-logo.sou-processo-eficiente, #expsou-processo .sou-stage .sou-processo-eficiente.sou-processo-eficiente, #expsou-processo .sou-stage .sou-e-feito-de-um-jeito.sou-processo-eficiente {
  width: 333px;
  height: 43px;
  top: 125px;
  left: 331px;
  background-position: 0 -37px;
}

#expsou-processo .sou-stage .sou-logo.sou-e-feito-de-um-jeito, #expsou-processo .sou-stage .sou-processo-eficiente.sou-e-feito-de-um-jeito, #expsou-processo .sou-stage .sou-e-feito-de-um-jeito.sou-e-feito-de-um-jeito {
  width: 270px;
  height: 67px;
  top: 167px;
  left: 375px;
  background-position: -46px -80px;
}

#expsou-processo .sou-stage .sou-stopwatch, #expsou-processo .sou-stage .sou-maquina, #expsou-processo .sou-stage .sou-esteira, #expsou-processo .sou-stage .sou-caminhao {
  position: absolute;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-stopwatch, #expsou-processo .sou-stage .sou-maquina.sou-stopwatch, #expsou-processo .sou-stage .sou-esteira.sou-stopwatch, #expsou-processo .sou-stage .sou-caminhao.sou-stopwatch {
  width: 88px;
  height: 104px;
  top: 61px;
  right: -100px;
  background: url("../img/processo/cronometro.png") no-repeat;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-stopwatch .sou-pointer, #expsou-processo .sou-stage .sou-maquina.sou-stopwatch .sou-pointer, #expsou-processo .sou-stage .sou-esteira.sou-stopwatch .sou-pointer, #expsou-processo .sou-stage .sou-caminhao.sou-stopwatch .sou-pointer {
  width: 11px;
  height: 29px;
  top: 46px;
  left: 39px;
  position: absolute;
  background: url("../img/processo/ponteiro.png") no-repeat;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-maquina, #expsou-processo .sou-stage .sou-maquina.sou-maquina, #expsou-processo .sou-stage .sou-esteira.sou-maquina, #expsou-processo .sou-stage .sou-caminhao.sou-maquina {
  width: 267px;
  height: 272px;
  top: 179px;
  left: 96px;
  background: url("../img/processo/maquina.png") no-repeat;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-1, #expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-2, #expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/processo/engrenagem.png");
}

#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-1, #expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-2, #expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/processo/engrenagem.png");
}

#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-1, #expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-2, #expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/processo/engrenagem.png");
}

#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-1, #expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-2, #expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/processo/engrenagem.png");
}

#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-1.sou-engrenagem-1, #expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-2.sou-engrenagem-1, #expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-3.sou-engrenagem-1 {
  width: 78px;
  height: 76px;
  top: 72px;
  left: -5px;
}

#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-1.sou-engrenagem-1, #expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-2.sou-engrenagem-1, #expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-3.sou-engrenagem-1 {
  width: 78px;
  height: 76px;
  top: 72px;
  left: -5px;
}

#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-1.sou-engrenagem-1, #expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-2.sou-engrenagem-1, #expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-3.sou-engrenagem-1 {
  width: 78px;
  height: 76px;
  top: 72px;
  left: -5px;
}

#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-1.sou-engrenagem-1, #expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-2.sou-engrenagem-1, #expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-3.sou-engrenagem-1 {
  width: 78px;
  height: 76px;
  top: 72px;
  left: -5px;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-1.sou-engrenagem-2, #expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-2.sou-engrenagem-2, #expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-3.sou-engrenagem-2 {
  width: 65px;
  height: 65px;
  top: 116px;
  left: 56px;
  background-position: -84px -8px;
}

#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-1.sou-engrenagem-2, #expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-2.sou-engrenagem-2, #expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-3.sou-engrenagem-2 {
  width: 65px;
  height: 65px;
  top: 116px;
  left: 56px;
  background-position: -84px -8px;
}

#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-1.sou-engrenagem-2, #expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-2.sou-engrenagem-2, #expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-3.sou-engrenagem-2 {
  width: 65px;
  height: 65px;
  top: 116px;
  left: 56px;
  background-position: -84px -8px;
}

#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-1.sou-engrenagem-2, #expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-2.sou-engrenagem-2, #expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-3.sou-engrenagem-2 {
  width: 65px;
  height: 65px;
  top: 116px;
  left: 56px;
  background-position: -84px -8px;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-1.sou-engrenagem-3, #expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-2.sou-engrenagem-3, #expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-3.sou-engrenagem-3 {
  width: 23px;
  height: 23px;
  top: 150px;
  left: 30px;
  background-position: -157px -33px;
}

#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-1.sou-engrenagem-3, #expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-2.sou-engrenagem-3, #expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-3.sou-engrenagem-3 {
  width: 23px;
  height: 23px;
  top: 150px;
  left: 30px;
  background-position: -157px -33px;
}

#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-1.sou-engrenagem-3, #expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-2.sou-engrenagem-3, #expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-3.sou-engrenagem-3 {
  width: 23px;
  height: 23px;
  top: 150px;
  left: 30px;
  background-position: -157px -33px;
}

#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-1.sou-engrenagem-3, #expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-2.sou-engrenagem-3, #expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-3.sou-engrenagem-3 {
  width: 23px;
  height: 23px;
  top: 150px;
  left: 30px;
  background-position: -157px -33px;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-esteira, #expsou-processo .sou-stage .sou-maquina.sou-esteira, #expsou-processo .sou-stage .sou-esteira.sou-esteira, #expsou-processo .sou-stage .sou-caminhao.sou-esteira {
  width: 522px;
  height: 67px;
  top: 279px;
  left: 363px;
  overflow: hidden;
  padding-bottom: 12px;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-esteira .sou-inner, #expsou-processo .sou-stage .sou-maquina.sou-esteira .sou-inner, #expsou-processo .sou-stage .sou-esteira.sou-esteira .sou-inner, #expsou-processo .sou-stage .sou-caminhao.sou-esteira .sou-inner {
  width: 2394px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: url("../img/processo/esteira.png") repeat-x bottom;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-esteira .sou-inner .sou-embalagens, #expsou-processo .sou-stage .sou-maquina.sou-esteira .sou-inner .sou-embalagens, #expsou-processo .sou-stage .sou-esteira.sou-esteira .sou-inner .sou-embalagens, #expsou-processo .sou-stage .sou-caminhao.sou-esteira .sou-inner .sou-embalagens {
  height: 67px;
  margin: 0 522px;
  background: url("../img/processo/embalagens.png") repeat-x right top;
}

#expsou-processo .sou-stage .sou-stopwatch.sou-caminhao, #expsou-processo .sou-stage .sou-maquina.sou-caminhao, #expsou-processo .sou-stage .sou-esteira.sou-caminhao, #expsou-processo .sou-stage .sou-caminhao.sou-caminhao {
  width: 465px;
  height: 355px;
  top: 125px;
  right: -376px;
  background: url("../img/processo/caminhao.png") no-repeat;
}

#expsou-embalagem {
  background: white url("../img/embalagem/topo.png") no-repeat;
}

#expsou-embalagem .sou-stage {
  width: 968px;
  height: 451px;
  top: 50%;
  margin-top: -225px;
  position: absolute;
}

#expsou-embalagem .sou-stage .sou-logo, #expsou-embalagem .sou-stage .sou-uma-nova-embalagem, #expsou-embalagem .sou-stage .sou-e-feito-de-um-jeito {
  position: absolute;
  text-indent: -999em;
  background: url("../img/embalagem/sprite-text.png") no-repeat;
}

#expsou-embalagem .sou-stage .sou-logo.sou-logo, #expsou-embalagem .sou-stage .sou-uma-nova-embalagem.sou-logo, #expsou-embalagem .sou-stage .sou-e-feito-de-um-jeito.sou-logo {
  width: 103px;
  height: 44px;
  top: 10px;
  left: 90px;
}

#expsou-embalagem .sou-stage .sou-logo.sou-uma-nova-embalagem,
#expsou-embalagem .sou-stage .sou-uma-nova-embalagem.sou-uma-nova-embalagem,
#expsou-embalagem .sou-stage .sou-e-feito-de-um-jeito.sou-uma-nova-embalagem {
  width: 379px;
  height: 38px;
  top: 49px;
  left: 118px;
  background-position: -28px -40px;
}

#expsou-embalagem .sou-stage .sou-logo.sou-e-feito-de-um-jeito,
#expsou-embalagem .sou-stage .sou-uma-nova-embalagem.sou-e-feito-de-um-jeito,
#expsou-embalagem .sou-stage .sou-e-feito-de-um-jeito.sou-e-feito-de-um-jeito {
  width: 414px;
  height: 36px;
  top: 87px;
  left: 134px;
  background-position: -45px -77px;
}

#expsou-embalagem .sou-stage .sou-arvores, #expsou-embalagem .sou-stage .sou-caminhao {
  position: absolute;
}

#expsou-embalagem .sou-stage .sou-arvores.sou-arvores, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores {
  width: 300%;
  height: 170px;
  right: 0;
  top: 173px;
  border-bottom: 4px solid #4d716c;
}

#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: repeat-x 345px bottom;
}

#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: repeat-x;
  background-position: 345px bottom;
}

#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-1, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-1, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-1 {
  z-index: 2;
  background-image: url("../img/embalagem/arvores-camada-1.png");
}

#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-1, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-1, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-1 {
  z-index: 2;
  background-image: url("../img/embalagem/arvores-camada-1.png");
}

#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-1 .sou-selo, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-1 .sou-selo, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-1 .sou-selo {
  width: 234px;
  height: 202px;
  top: -18px;
  left: 107px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/embalagem/selo.jpg");
}

#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-1 .sou-selo, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-1 .sou-selo, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-1 .sou-selo {
  width: 234px;
  height: 202px;
  top: -18px;
  left: 107px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/embalagem/selo.jpg");
}

#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-2, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-2, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-2 {
  z-index: 1;
  background-image: url("../img/embalagem/arvores-camada-2.png");
}

#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-2, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-2, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-2 {
  z-index: 1;
  background-image: url("../img/embalagem/arvores-camada-2.png");
}

#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-3, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-3, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-3 {
  background-image: url("../img/embalagem/arvores-camada-3.png");
}

#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-3, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-3, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-3 {
  background-image: url("../img/embalagem/arvores-camada-3.png");
}

#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-3 .sou-tapume-branco, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-3 .sou-tapume-branco, #expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-3 .sou-tapume-branco {
  width: 100px;
  height: 188px;
  top: -18px;
  left: 770px;
  position: absolute;
  background-color: #FFF;
}

#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores {
  width: 380px;
  height: 280px;
  top: 151px;
  left: 507px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("../img/embalagem/caminhao.png");
}

#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-3 .sou-tapume-branco, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-3 .sou-tapume-branco, #expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-3 .sou-tapume-branco {
  width: 100px;
  height: 188px;
  top: -18px;
  left: 770px;
  position: absolute;
  background-color: #FFF;
}

#expsou-embalagem .sou-stage .sou-caminhao.sou-caminhao {
  width: 380px;
  height: 280px;
  top: 151px;
  left: 507px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("../img/embalagem/caminhao.png");
}

#expsou-essencial {
  overflow: hidden;
  background: #e60e64;
}

#expsou-essencial .sou-stage {
  width: 968px;
  height: 542px;
  top: 50%;
  margin-top: -271px;
  position: absolute;
}

#expsou-essencial .sou-stage .sou-logo, #expsou-essencial .sou-stage .sou-essencial, #expsou-essencial .sou-stage .sou-o-que-e-importante {
  z-index: 100;
  position: absolute;
  text-indent: -999em;
  background: url("../img/essencial/sprite-text.png") no-repeat;
}

#expsou-essencial .sou-stage .sou-logo.sou-logo, #expsou-essencial .sou-stage .sou-essencial.sou-logo, #expsou-essencial .sou-stage .sou-o-que-e-importante.sou-logo {
  width: 103px;
  height: 53px;
  top: 177px;
  left: 352px;
}

#expsou-essencial .sou-stage .sou-logo.sou-essencial, #expsou-essencial .sou-stage .sou-essencial.sou-essencial, #expsou-essencial .sou-stage .sou-o-que-e-importante.sou-essencial {
  width: 143px;
  height: 33px;
  top: 215px;
  left: 401px;
  background-position: 0 -56px;
}

#expsou-essencial .sou-stage .sou-logo.sou-o-que-e-importante, #expsou-essencial .sou-stage .sou-essencial.sou-o-que-e-importante, #expsou-essencial .sou-stage .sou-o-que-e-importante.sou-o-que-e-importante {
  width: 235px;
  height: 18px;
  top: 253px;
  left: 401px;
  background-position: 0 -94px;
}

#expsou-essencial .sou-stage .sou-layer {
  top: 0;
  left: 0;
  position: absolute;
}

#expsou-essencial .sou-stage .sou-layer.sou-layer-1 {
  z-index: 5;
}

#expsou-essencial .sou-stage .sou-layer.sou-layer-2 {
  z-index: 4;
}

#expsou-essencial .sou-stage .sou-layer.sou-layer-3 {
  z-index: 3;
}

#expsou-essencial .sou-stage .sou-layer.sou-layer-4 {
  z-index: 2;
}

#expsou-essencial .sou-stage .sou-layer.sou-layer-5 {
  z-index: 1;
}

#expsou-essencial .sou-stage .sou-gota {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/essencial/gotas.png");
}

#expsou-essencial .sou-stage .sou-size-1 {
  width: 195px;
  height: 280px;
}

#expsou-essencial .sou-stage .sou-size-2 {
  width: 180px;
  height: 255px;
  background-position: -216px -26px;
}

#expsou-essencial .sou-stage .sou-size-3 {
  width: 127px;
  height: 174px;
  background-position: -421px -106px;
}

#expsou-essencial .sou-stage .sou-size-4 {
  width: 76px;
  height: 98px;
  background-position: -579px -182px;
}

#expsou-essencial .sou-stage .sou-size-5 {
  width: 47px;
  height: 58px;
  background-position: -680px -222px;
}

#expsou-essencial .sou-stage .sou-size-6 {
  width: 35px;
  height: 48px;
  background-position: -744px -232px;
}

#expsou-essencial .sou-stage .sou-position-1 {
  top: -212px;
  left: -50px;
}

#expsou-essencial .sou-stage .sou-position-2 {
  top: -225px;
  left: 338px;
}

#expsou-essencial .sou-stage .sou-position-3 {
  top: -125px;
  left: 747px;
}

#expsou-essencial .sou-stage .sou-position-4 {
  top: 158px;
  left: 815px;
}

#expsou-essencial .sou-stage .sou-position-5 {
  top: 323px;
  left: 370px;
}

#expsou-essencial .sou-stage .sou-position-6 {
  top: 45px;
  left: 242px;
}

#expsou-essencial .sou-stage .sou-position-7 {
  top: -37px;
  left: 501px;
}

#expsou-essencial .sou-stage .sou-position-8 {
  top: 445px;
  left: 620px;
}

#expsou-essencial .sou-stage .sou-position-9 {
  top: 399px;
  left: 345px;
}

#expsou-essencial .sou-stage .sou-gota-text {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/essencial/gotas-mensagens.png");
}

#expsou-essencial .sou-stage .sou-gota-text.sou-fragancia {
  width: 231px;
  height: 328px;
  top: 192px;
  left: 676px;
}

#expsou-essencial .sou-stage .sou-gota-text.sou-eficiente {
  width: 174px;
  height: 247px;
  top: 89px;
  left: 132px;
  background-position: -241px -81px;
}

#expsou-essencial .sou-stage .sou-gota-text.sou-envolve {
  width: 136px;
  height: 200px;
  top: 11px;
  left: 580px;
  background-position: -428px -128px;
}

#expsou-essencial .sou-stage .sou-gota-escorrendo-1, #expsou-essencial .sou-stage .sou-gota-escorrendo-2, #expsou-essencial .sou-stage .sou-gota-escorrendo-3, #expsou-essencial .sou-stage .sou-gota-escorrendo-4 {
  top: 0;
  position: absolute;
  background: url("../img/essencial/sprite-gotas.png") no-repeat;
}

#expsou-essencial .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-1, #expsou-essencial .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-1, #expsou-essencial .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-1, #expsou-essencial .sou-stage .sou-gota-escorrendo-4.sou-gota-escorrendo-1 {
  width: 3px;
  height: 300px;
  left: 56px;
  background-position: left bottom;
}

#expsou-essencial .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-2, #expsou-essencial .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-2, #expsou-essencial .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-2, #expsou-essencial .sou-stage .sou-gota-escorrendo-4.sou-gota-escorrendo-2 {
  width: 4px;
  height: 450px;
  left: 307px;
  background-position: -12px bottom;
}

#expsou-essencial .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-3, #expsou-essencial .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-3, #expsou-essencial .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-3, #expsou-essencial .sou-stage .sou-gota-escorrendo-4.sou-gota-escorrendo-3 {
  width: 18px;
  height: 200px;
  left: 318px;
  background-position: -28px bottom;
}

#expsou-essencial .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-4, #expsou-essencial .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-4, #expsou-essencial .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-4, #expsou-essencial .sou-stage .sou-gota-escorrendo-4.sou-gota-escorrendo-4 {
  width: 8px;
  height: 300px;
  left: 913px;
  background-position: -59px bottom;
}

#expsou-essencial .sou-ondas-1, #expsou-essencial .sou-ondas-2, #expsou-essencial .sou-ondas-3 {
  width: 160px;
  height: 1243px;
  position: absolute;
  background: url("../img/essencial/bgs.png") no-repeat;
}

#expsou-essencial .sou-ondas-1.sou-ondas-1, #expsou-essencial .sou-ondas-2.sou-ondas-1, #expsou-essencial .sou-ondas-3.sou-ondas-1 {
  left: 70px;
}

#expsou-essencial .sou-ondas-1.sou-ondas-2, #expsou-essencial .sou-ondas-2.sou-ondas-2, #expsou-essencial .sou-ondas-3.sou-ondas-2 {
  left: 8px;
  background-position: -202px 0;
}

#expsou-essencial .sou-ondas-1.sou-ondas-3, #expsou-essencial .sou-ondas-2.sou-ondas-3, #expsou-essencial .sou-ondas-3.sou-ondas-3 {
  left: 766px;
  background-position: -202px 0;
}

#expsou-ultima-gota {
  background: #ffffff;
}

#expsou-ultima-gota .sou-stage {
  width: 968px;
  height: 434px;
  top: 50%;
  margin-top: -217px;
  position: absolute;
}

#expsou-ultima-gota .sou-stage .sou-logo, #expsou-ultima-gota .sou-stage .sou-outra-vantagem {
  position: absolute;
  text-indent: -999em;
  background: url("../img/ultima-gota/sprite-text.png") no-repeat;
}

#expsou-ultima-gota .sou-stage .sou-logo.sou-logo {
  width: 298px;
  height: 50px;
  top: 181px;
  left: 42px;
}

#expsou-ultima-gota .sou-stage .sou-outra-vantagem.sou-logo {
  width: 280px;
  height: 50px;
  top: 181px;
  left: 42px;
  width: 240px;
  height: 57px;
  top: 175px;
  left: 657px;
  background-position: 0 -51px;
}

#expsou-ultima-gota .sou-stage .sou-outra-vantagem.sou-outra-vantagem {
  width: 272px;
  height: 75px;
  top: 175px;
  left: 657px;
  background-position: 0 -51px;
}

#expsou-ultima-gota .sou-stage .sou-embalagens {
  top: 284px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
}

#expsou-ultima-gota .sou-stage .sou-embalagens.sou-left {
  left: -11px;
}

#expsou-ultima-gota .sou-stage .sou-embalagens.sou-right {
  right: -35px;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li {
  width: 38px;
  height: 42px;
  float: left;
  margin-right: 18px;
  background: url("../img/ultima-gota/embalagens.png") no-repeat;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-1 {
  background-position: 0 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-2 {
  background-position: -56px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-3 {
  background-position: -112px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-4 {
  background-position: -224px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-5 {
  background-position: -280px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-6 {
  background-position: -336px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-7 {
  background-position: -392px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-8 {
  background-position: -448px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-9 {
  background-position: -504px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-10 {
  background-position: -560px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-11 {
  background-position: -616px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-12 {
  background-position: -672px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-13 {
  background-position: -728px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-14 {
  background-position: -784px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal {
  width: 320px;
  height: 320px;
  top: 90px;
  left: 325px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/ultima-gota/sprite-embalagem.png");
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="0"] {
  background-position: 0 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="1"] {
  background-position: -320px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="2"] {
  background-position: -640px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="3"] {
  background-position: -960px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="4"] {
  background-position: -1280px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="5"] {
  background-position: -1600px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="6"] {
  background-position: -1920px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="7"] {
  background-position: -2240px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="8"] {
  background-position: -2560px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="9"] {
  background-position: -2880px 0;
}

#expsou-ultima-gota .sou-stage .sou-embalagem-principal .sou-gota {
  width: 6px;
  top: 252px;
  left: 215px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/ultima-gota/gota.png");
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-1, #expsou-ultima-gota .sou-stage .sou-gota-escorrendo-2, #expsou-ultima-gota .sou-stage .sou-gota-escorrendo-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/ultima-gota/gota-vermelha.png");
}

#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-1, #expsou-ultima-gota .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-1, #expsou-ultima-gota .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-1 {
  width: 6px;
  height: 200px;
  left: 235px;
  background-position: 0 bottom;
}

#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-2, #expsou-ultima-gota .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-2, #expsou-ultima-gota .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-2 {
  width: 18px;
  height: 200px;
  left: 247px;
  background-position: -17px bottom;
}

#expsou-menos-residuo {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: #7ecdc3;
}

#expsou-menos-residuo .sou-frame {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

#expsou-menos-residuo .sou-folha-1, #expsou-menos-residuo .sou-folha-2, #expsou-menos-residuo .sou-folha-3, #expsou-menos-residuo .sou-folha-4 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/menos-residuos/sprite-folhas.png");
}

#expsou-menos-residuo .sou-folha-1.sou-folha-1, #expsou-menos-residuo .sou-folha-2.sou-folha-1, #expsou-menos-residuo .sou-folha-3.sou-folha-1, #expsou-menos-residuo .sou-folha-4.sou-folha-1 {
  width: 167px;
  height: 85px;
  top: 157px;
  left: -16px;
  background-position: 0 -15px;
}

#expsou-menos-residuo .sou-folha-1.sou-folha-2, #expsou-menos-residuo .sou-folha-2.sou-folha-2, #expsou-menos-residuo .sou-folha-3.sou-folha-2, #expsou-menos-residuo .sou-folha-4.sou-folha-2 {
  width: 51px;
  height: 42px;
  top: 81px;
  left: 188px;
  background-position: -220px -9px;
}

#expsou-menos-residuo .sou-folha-1.sou-folha-3, #expsou-menos-residuo .sou-folha-2.sou-folha-3, #expsou-menos-residuo .sou-folha-3.sou-folha-3, #expsou-menos-residuo .sou-folha-4.sou-folha-3 {
  width: 75px;
  height: 39px;
  top: 300px;
  left: 785px;
  background-position: -207px -79px;
}

#expsou-menos-residuo .sou-folha-1.sou-folha-4, #expsou-menos-residuo .sou-folha-2.sou-folha-4, #expsou-menos-residuo .sou-folha-3.sou-folha-4, #expsou-menos-residuo .sou-folha-4.sou-folha-4 {
  width: 201px;
  height: 130px;
  top: 107px;
  left: 732px;
  background-position: -326px 0;
}

#expsou-menos-residuo .sou-tree {
  left: 50%;
  position: absolute;
}

#expsou-menos-residuo .sou-text {
  width: 898px;
  height: 20px;
  left: 35px;
  bottom: 20px;
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/menos-residuos/sprite-text.png");
}

#expsou-menos-final {
  background: #ffffff;
}

#expsou-menos-final .sou-stage {
  width: 968px;
  height: 513px;
  top: 50%;
}

#expsou-menos-final .sou-stage .sou-o-que-voce, #expsou-menos-final .sou-stage .sou-novo-jeito-de-consumir {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/produtos/texto-sou-e-assim.png");
}

#expsou-menos-final .sou-stage .sou-o-que-voce.sou-o-que-voce {
  width: 522px;
  height: 83px;
  top: 314px;
  right: 105px;
  z-index: 1;
}

#expsou-menos-final .sou-stage .sou-produto-1 {
  position: absolute;
  background-image: url("../img/produtos/produto-roxo.png");
  right: 53px;
  bottom: 58px;
  width: 216px;
  height: 246px;
  z-index: 4;
}

#expsou-menos-final .sou-stage .sou-produto-2 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/produtos/produto-verde.png");
  right: 219px;
  bottom: 94px;
  width: 167px;
  height: 199px;
  z-index: 3;
}

#expsou-menos-final .sou-stage .sou-produto-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/produtos/produto-rosa.png");
  right: 352px;
  bottom: 130px;
  width: 131px;
  height: 152px;
  z-index: 2;
}

#expsou-menos-final .sou-stage .sou-produto-4 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/produtos/produto-branco.png");
  right: 352px;
  bottom: 115px;
  width: 131px;
  height: 152px;
  z-index: 1;
}

#expsou-menos-final .sou-stage .sou-mulher {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/produtos/produtos-mulher.jpg");
  left: 0px;
  width: 477px;
  height: 514px;
  top: 310px;
  transition: 1s;
}

#expsou-menos-final .sou-stage .rosacea {
  //position: absolute;
  //background-repeat: no-repeat;
  //background-image: url("../img/rosacea.png");
  //left: 121px;
  //width: 396px;
  //height: 220px;
  //bottom: 0px;
  //opacity: 0.50;

  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/rosacea.png");
  margin-left: 631px;
  width: 396px;
  height: 220px;
  bottom: 0px;
  opacity: 0.50;
  left: -50%;
  top: -50%;
  margin-top: 929px;
}

#expsou-menos-final .sou-stage .sou-novo-jeito-de-consumir.sou-o-que-voce {
  width: 410px;
  height: 38px;
  top: 35px;
  left: 186px;
  width: 585px;
  height: 35px;
  top: 65px;
  left: 242px;
  background-position: 0 -39px;
}

#expsou-menos-final .sou-stage .sou-novo-jeito-de-consumir.sou-novo-jeito-de-consumir {
  width: 585px;
  height: 35px;
  top: 65px;
  left: 242px;
  background-position: 0 -39px;
}

#expsou-menos-final .sou-stage ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#expsou-menos-final .sou-stage ul li {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/produtos/produtos.png");
}

#expsou-menos-final .sou-stage ul li.sou-product-1 {
  width: 270px;
  height: 384px;
  top: 116px;
  left: 10px;
  z-index: 5;
}

#expsou-menos-final .sou-stage ul li.sou-product-2 {
  width: 222px;
  height: 316px;
  top: 130px;
  left: 167px;
  z-index: 4;
  background-position: -294px -55px;
}

#expsou-menos-final .sou-stage ul li.sou-product-3 {
  width: 188px;
  height: 238px;
  top: 155px;
  left: 285px;
  background-position: -535px -110px;
}

#expsou-menos-final .sou-stage ul li.sou-product-4 {
  width: 195px;
  height: 240px;
  top: 155px;
  right: 300px;
  z-index: 4;
  background-position: -732px -110px;
}

#expsou-menos-final .sou-stage ul li.sou-product-5 {
  width: 235px;
  height: 316px;
  top: 134px;
  right: 163px;
  z-index: 5;
  background-position: -935px -55px;
}

#expsou-menos-final .sou-stage ul li.sou-product-6 {
  width: 277px;
  height: 384px;
  top: 116px;
  right: 10px;
  z-index: 5;
  background-position: -1216px 0;
}

.pra-que-voce-precisa {
  width: 968px;
  height: 409px;
  background: linear-gradient(#f1f1f1, #fff);
  position: relative;
}

.pra-que-voce-precisa .condicionador {
  position: absolute;
  left: 40px;
  top: 88px;
}

.pra-que-voce-precisa .player {
  background-color: #3EBDB3;
  position: absolute;
  border: 5px solid #3EBDB3;
  width: 448px;
  height: 246px;
  left: 196px;
  top: 105px;
}

.pra-que-voce-precisa .player.reflection {
  -webkit-box-reflect: below -5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(76%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.pra-que-voce-precisa .player iframe {
  width: 448px;
  height: 246px;
}

.pra-que-voce-precisa .player-button {
  background-image: url("../img/pra-que-voce-precisa/play-principal.png");
  position: absolute;
  top: 204px;
  width: 58px;
  height: 60px;
  left: 391px;
}

.pra-que-voce-precisa .texto-pra-que {
  background-image: url("../img/pra-que-voce-precisa/pra-que-voce-precisa-texto.png");
  position: absolute;
  width: 388px;
  height: 65px;
  top: 26px;
  left: 229px;
  text-indent: -999em;
}

.pra-que-voce-precisa .texto-sem-dilemas {
  background: url("../img/pra-que-voce-precisa/texto-sem-dilemas.png") no-repeat;
  position: absolute;
  width: 217px;
  height: 54px;
  bottom: 135px;
  right: 50px;
  text-indent: -999em;
}

.pra-que-voce-precisa .hidratante {
  background: url("../img/pra-que-voce-precisa/murcho.png") no-repeat;
  position: absolute;
  top: 90px;
  width: 175px;
  height: 110px;
  right: 66px;
}

.pra-que-voce-precisa .assistindo {
  position: absolute;
  bottom: 46px;
  width: 67px;
  height: 67px;
  left: 80px;
  background-color: #3ebdb3;
  border: 5px solid #68696B;
  border-radius: 50%;
  line-height: 67px;
  color: white;
  text-transform: uppercase;
  font-size: 8pt;
  text-align: center;
  font-family: 'Gill Sans', serif;
}

.pra-que-voce-precisa .videos-list {
  list-style: none;
  position: absolute;
  right: 77px;
  bottom: 28px;
}

.pra-que-voce-precisa .videos-list li.video-item {
  float: left;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 4px solid #6a6b6d;
  position: relative;
  margin-left: 5px;
}

.pra-que-voce-precisa .videos-list li.video-item a {
  position: absolute;
  background: url("../img/pra-que-voce-precisa/play-menor.png") no-repeat center;
  width: 50px;
  height: 50px;
  left: 10px;
  top: 10px;
}

.reflection {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(71%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.reflection-small {
  -webkit-box-reflect: below -9px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(68%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.reflection2 {
  -webkit-box-reflect: below -19px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(71%, transparent), to(rgba(255, 255, 255, 0.2)));
}

#chuveirinho {
  background-color: #5161ac;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 899px;
}

#chuveirinho .frame {
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5161ac;
  position: absolute;
  border-bottom: 27px solid #fff;
  position: absolute;
}

#chuveirinho .frame .chuva {
  background-image: url("../img/chuveirinho/chuva.png");
  background-repeat: repeat;
  background-position-x: center;
  width: 194px;
  height: 724px;
  position: absolute;
  top: 140px;
  left: 388px;
}

#chuveirinho .frame .cabelo {
  background: url("../img/chuveirinho/cabelo.png") no-repeat center center;
  width: 185px;
  height: 185px;
  position: absolute;
  top: 158px;
  left: 17px;
  border: 3px dotted white;
  border-radius: 50%;
  padding: 27px;
}

#chuveirinho .frame .hidratante-mao {
  background: url("../img/chuveirinho/hidratante-mao.png") no-repeat 24px;
  width: 183px;
  height: 183px;
  position: absolute;
  top: 153px;
  right: 24px;
  border: 3px dotted white;
  border-radius: 50%;
  padding: 27px;
}

#chuveirinho .frame .chuveiro {
  position: absolute;
  background: url("../img/chuveirinho/chuveiro.png") no-repeat center center;
  width: 219px;
  height: 120px;
  top: 30px;
  left: 375px;
  z-index: 4;
}

#chuveirinho .frame .texto-so-importa-titulo {
  position: absolute;
  background: url("../img/chuveirinho/texto-so-importa.png") no-repeat #5161AC;
  width: 97px;
  height: 53px;
  top: 216px;
  left: 265px;
  z-index: 2;
  text-indent: -999em;
}

#chuveirinho .frame .texto-so-importa-linha-1 {
  position: absolute;
  background: url("../img/chuveirinho/texto-so-importa.png") no-repeat #5161AC;
  width: 188px;
  height: 31px;
  top: 266px;
  left: 322px;
  background-position: -56px -50px;
  z-index: 2;
  text-indent: -999em;
}

#chuveirinho .frame .texto-so-importa-linha-2 {
  position: absolute;
  background: url("../img/chuveirinho/texto-so-importa.png") no-repeat #5161AC;
  width: 352px;
  height: 30px;
  top: 295px;
  left: 322px;
  background-position: -56px -78px;
  z-index: 2;
  text-indent: -999em;
}

#chuveirinho .frame .texto-pele-mais-macia {
  position: absolute;
  background: url("../img/chuveirinho/texto-pele-mais-macia.png") no-repeat center center;
  width: 161px;
  height: 51px;
  top: 418px;
  right: 65px;
  text-indent: -999em;
}

#chuveirinho .frame .bolinha-1 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 17px;
  left: 82px;
  background: transparent;
  border: 3px dotted white;
  border-radius: 50%;
}

#chuveirinho .frame .bolinha-2 {
  position: absolute;
  width: 87px;
  height: 87px;
  top: 49px;
  left: 129px;
  background: transparent;
  border: 3px dotted white;
  border-radius: 50%;
}

#chuveirinho .frame .bolinha-3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 27px;
  right: 173px;
  background: transparent;
  border: 3px dotted white;
  border-radius: 50%;
}

#chuveirinho .frame .bolinha-4 {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 47px;
  right: 95px;
  background: transparent;
  border: 3px dotted white;
  border-radius: 50%;
}

#chuveirinho .frame .bolinha-5 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 108px;
  right: 145px;
  background: transparent;
  border: 3px dotted white;
  border-radius: 50%;
}

#chuveirinho .frame .cabelos-mais-hidratados {
  position: absolute;
  width: 210px;
  height: 71px;
  top: 418px;
  left: 35px;
  background: url("../img/chuveirinho/texto-cabelos-hidratados.png") no-repeat center center;
}

#chuveirinho .frame .drop {
  background-color: white;
  width: 8px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall 2s linear infinite;
  -moz-animation: fall 2s linear infinite;
  z-index: 1;
}

@-webkit-keyframes fall {
  to {
    margin-top: 800px;
  }
}

@-moz-keyframes fall {
  to {
    margin-top: 1000px;
  }
}

#chuveirinho .frame .rain {
  width: 200px;
  position: relative;
}

#chuveirinho .frame .gotinhas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#chuveirinho .frame .gotinhas-container .gambiarra {
  position: absolute;
  background-color: #5161AC;
  width: 228px;
  height: 916px;
  left: 375px;
  top: -205px;
  z-index: 3;
}

#chuveirinho .frame .gotinhas-container .gotinhas {
  position: absolute;
  width: 8px;
  height: 20px;
  background-color: white;
  border-radius: 14px;
}

#chuveirinho .frame .gotinhas-container .gotinhas.gotinha-fileira-1 {
  left: 380px;
  top: 166px;
}

#chuveirinho .frame .gotinhas-container .gotinhas.gotinha-fileira-2 {
  left: 405px;
  top: 196px;
}

#chuveirinho .frame .gotinhas-container .gotinhas.gotinha-fileira-3 {
  left: 435px;
  top: 226px;
}

#chuveirinho .frame .gotinhas-container .gotinhas.gotinha-fileira-4 {
  left: 465px;
  top: 256px;
}

#chuveirinho .frame .gotinhas-container .gotinhas.gotinha-fileira-5 {
  left: 495px;
  top: 286px;
}

#chuveirinho .frame .gotinhas-container .gotinhas.gotinha-fileira-6 {
  left: 525px;
  top: 316px;
}

#chuveirinho .frame .gotinhas-container .gotinhas.gotinha-fileira-7 {
  left: 555px;
  top: 346px;
}

.start-video {
  position: absolute;
  top: 88px;
  padding: 12px;
  left: 180px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
}

.thumbnail {
  width: 448px;
  height: 246px;
}

.produtos{
  position: absolute;
  left: 1000px;
  top: 789px;
}
