/* line 2, ../sass/main.scss */
html,
body {
  width: 100%;
  height: 100%;
}
/* line 5, ../sass/main.scss */
html > .container,
body > .container {
  display: none;
}
/* line 10, ../sass/main.scss */
html #header .top .region-content,
body #header .top .region-content {
  z-index: 101;
}
/* line 14, ../sass/main.scss */
html #header .header-bottom,
body #header .header-bottom {
  z-index: 100;
}
/* line 18, ../sass/main.scss */
html #footer,
body #footer {
  margin-top: 10px;
}

/* line 26, ../sass/main.scss */
#wrapper-experiencia-sou {
  padding-top: 195px;
}
/* line 28, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou {
  width: 968px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
/* line 33, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou > .inner-scroll {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
/* line 38, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou > .inner-scroll .page-sou {
  position: relative;
}
/* line 42, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou p {
  margin: 0;
  padding: 0;
}
/* line 46, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou .sou-watch {
  width: 78px;
  height: 147px;
  top: 10px;
  right: 10px;
  z-index: 30;
  position: absolute;
  background: url("../img/watch.png") no-repeat;
}
/* line 54, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou .sou-watch.finished {
  background-position: -78px 0;
}
/* line 57, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou .sou-watch .sou-percent {
  color: #FFF;
  font-size: 35px;
  font-family: GillSans, Verdana;
  top: 64px;
  left: 13px;
  position: absolute;
}
/* line 66, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou .sou-ver-produtos {
  width: 170px;
  height: 170px;
  top: 275px;
  left: 30px;
  z-index: 25;
  position: absolute;
}
/* line 74, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou .sou-ver-produtos .big-text,
#wrapper-experiencia-sou #experiencia-sou .sou-ver-produtos .small-text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  text-indent: -999em;
}
/* line 83, ../sass/main.scss */
#wrapper-experiencia-sou #experiencia-sou .sou-ver-produtos img {
  top: 0;
  left: 0;
  position: absolute;
}

/* line 95, ../sass/main.scss */
#expsou-intro {
  z-index: 20;
  background-color: #fff;
}
/* line 98, ../sass/main.scss */
#expsou-intro .sou-scroll {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
/* line 104, ../sass/main.scss */
#expsou-intro .banner-sou {
  border-bottom: 12px solid #7371bc;
}
/* line 107, ../sass/main.scss */
#expsou-intro .sou-products {
  height: 438px;
}
/* line 112, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop,
#expsou-intro .sou-products .sou-drop span,
#expsou-intro .sou-products .sou-bottle,
#expsou-intro .sou-products .sou-video {
  position: absolute;
}
/* line 115, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop {
  width: 380px;
  height: 426px;
  top: 367px;
  left: 34px;
  z-index: 4;
  background-repeat: no-repeat;
  background-image: url("../img/intro/sprite-gota.png");
}
/* line 123, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="1"] {
  background-position: 0 0;
}
/* line 124, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="2"] {
  background-position: 0 -452px;
}
/* line 125, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="3"] {
  background-position: 0 -902px;
}
/* line 126, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="4"] {
  background-position: 0 -1353px;
}
/* line 127, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="5"] {
  background-position: 0 -1804px;
}
/* line 128, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="6"] {
  background-position: -381px 0;
}
/* line 129, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="7"] {
  background-position: -381px -452px;
}
/* line 130, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="8"] {
  background-position: -381px -902px;
}
/* line 131, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="9"] {
  background-position: -381px -1353px;
}
/* line 132, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="10"] {
  background-position: -381px -1804px;
}
/* line 133, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="11"] {
  background-position: -762px 0;
}
/* line 134, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="12"] {
  background-position: -762px -451px;
}
/* line 135, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="13"] {
  background-position: -762px -902px;
}
/* line 136, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="14"] {
  background-position: -762px -1353px;
}
/* line 137, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="15"] {
  background-position: -762px -1804px;
}
/* line 138, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="16"] {
  background-position: -1143px 0;
}
/* line 139, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="17"] {
  background-position: -1143px -451px;
}
/* line 140, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="18"] {
  background-position: -1143px -902px;
}
/* line 141, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="19"] {
  background-position: -1143px -1353px;
}
/* line 142, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="20"] {
  background-position: -1143px -1804px;
}
/* line 143, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="21"] {
  background-position: -1524px 0;
}
/* line 144, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="22"] {
  background-position: -1524px -451px;
}
/* line 145, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="23"] {
  background-position: -1524px -902px;
}
/* line 146, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="24"] {
  background-position: -1524px -1353px;
}
/* line 147, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="25"] {
  background-position: -1524px -1804px;
}
/* line 148, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="26"] {
  background-position: -1905px 0;
}
/* line 149, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="27"] {
  background-position: -1905px -451px;
}
/* line 150, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="28"] {
  background-position: -1905px -902px;
}
/* line 151, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="29"] {
  background-position: -1905px -1353px;
}
/* line 152, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="30"] {
  background-position: -1905px -1804px;
}
/* line 153, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="31"] {
  background-position: -2286px 0;
}
/* line 154, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="32"] {
  background-position: -2286px -451px;
}
/* line 155, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="33"] {
  background-position: -2286px -902px;
}
/* line 156, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="34"] {
  background-position: -2286px -1353px;
}
/* line 157, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="35"] {
  background-position: -2286px -1804px;
}
/* line 158, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="36"] {
  background-position: -2667px 0;
}
/* line 159, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="37"] {
  background-position: -2667px -451px;
}
/* line 160, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="38"] {
  background-position: -2667px -902px;
}
/* line 161, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="39"] {
  background-position: -2667px -1353px;
}
/* line 162, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop[data-step="40"] {
  background-position: -2667px -1804px;
}
/* line 163, ../sass/main.scss */
#expsou-intro .sou-products .sou-drop span {
  width: 217px;
  height: 238px;
  top: 129px;
  left: 80px;
  text-indent: -999em;
  background: url("../img/intro/gota-texto.png") no-repeat;
}
/* line 172, ../sass/main.scss */
#expsou-intro .sou-products .sou-video {
  width: 431px;
  height: 290px;
  top: 468px;
  left: 1200px;
  padding: 4px;
  z-index: 3;
  cursor: pointer;
  background: url("../img/intro/video-frame.jpg") no-repeat;
}
/* line 181, ../sass/main.scss */
#expsou-intro .sou-products .sou-video .sou-cover {
  top: 4px;
  left: 4px;
  z-index: 50;
  position: absolute;
}
/* line 188, ../sass/main.scss */
#expsou-intro .sou-products .sou-bottle {
  background: url("../img/intro/sprite-produtos.png") no-repeat;
}
/* line 190, ../sass/main.scss */
#expsou-intro .sou-products .sou-bottle.purple {
  width: 175px;
  height: 239px;
  top: 490px;
  left: -200px;
  z-index: 2;
}
/* line 197, ../sass/main.scss */
#expsou-intro .sou-products .sou-bottle.green-1 {
  width: 130px;
  height: 190px;
  top: 497px;
  left: 1200px;
  z-index: 1;
  background-position: -204px -49px;
}
/* line 205, ../sass/main.scss */
#expsou-intro .sou-products .sou-bottle.green-2 {
  width: 80px;
  height: 129px;
  top: 523px;
  left: 1200px;
  background-position: -362px -110px;
}

/* line 219, ../sass/main.scss */
#expsou-formula {
  z-index: 19;
  background: #7190cb;
}
/* line 222, ../sass/main.scss */
#expsou-formula .sou-stage {
  width: 968px;
  height: 505px;
  top: 50%;
  margin-top: -252px;
  position: absolute;
  background: url("../img/formula/bg.jpg") no-repeat;
}
/* line 231, ../sass/main.scss */
#expsou-formula .sou-stage .sou-logo,
#expsou-formula .sou-stage .formula-sem-excesso,
#expsou-formula .sou-stage .sou-deixa-de-lado {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/formula/sprite-text.png");
}
/* line 236, ../sass/main.scss */
#expsou-formula .sou-stage .sou-logo.sou-logo,
#expsou-formula .sou-stage .formula-sem-excesso.sou-logo,
#expsou-formula .sou-stage .sou-deixa-de-lado.sou-logo {
  width: 103px;
  height: 54px;
  top: 45px;
  left: 125px;
}
/* line 242, ../sass/main.scss */
#expsou-formula .sou-stage .sou-logo.formula-sem-excesso,
#expsou-formula .sou-stage .formula-sem-excesso.formula-sem-excesso,
#expsou-formula .sou-stage .sou-deixa-de-lado.formula-sem-excesso {
  width: 285px;
  height: 38px;
  top: 90px;
  left: 165px;
  background-position: 0 -59px;
}
/* line 249, ../sass/main.scss */
#expsou-formula .sou-stage .sou-logo.sou-deixa-de-lado,
#expsou-formula .sou-stage .formula-sem-excesso.sou-deixa-de-lado,
#expsou-formula .sou-stage .sou-deixa-de-lado.sou-deixa-de-lado {
  width: 285px;
  height: 56px;
  top: 128px;
  left: 165px;
  background-position: 0 -97px;
}
/* line 262, ../sass/main.scss */
#expsou-formula .sou-stage .sou-bolha1,
#expsou-formula .sou-stage .sou-bolha2,
#expsou-formula .sou-stage .sou-bolha3,
#expsou-formula .sou-stage .sou-bolha4,
#expsou-formula .sou-stage .sou-bolha5,
#expsou-formula .sou-stage .sou-bolha6 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/formula/bolhas.png");
}
/* line 266, ../sass/main.scss */
#expsou-formula .sou-stage .sou-bolha1.sou-bolha1,
#expsou-formula .sou-stage .sou-bolha2.sou-bolha1,
#expsou-formula .sou-stage .sou-bolha3.sou-bolha1,
#expsou-formula .sou-stage .sou-bolha4.sou-bolha1,
#expsou-formula .sou-stage .sou-bolha5.sou-bolha1,
#expsou-formula .sou-stage .sou-bolha6.sou-bolha1 {
  width: 19px;
  height: 19px;
  top: 89px;
  left: 593px;
  background-position: 0 -76px;
}
/* line 273, ../sass/main.scss */
#expsou-formula .sou-stage .sou-bolha1.sou-bolha2,
#expsou-formula .sou-stage .sou-bolha2.sou-bolha2,
#expsou-formula .sou-stage .sou-bolha3.sou-bolha2,
#expsou-formula .sou-stage .sou-bolha4.sou-bolha2,
#expsou-formula .sou-stage .sou-bolha5.sou-bolha2,
#expsou-formula .sou-stage .sou-bolha6.sou-bolha2 {
  width: 97px;
  height: 98px;
  top: 13px;
  left: 639px;
  background-position: -46px 0;
}
/* line 280, ../sass/main.scss */
#expsou-formula .sou-stage .sou-bolha1.sou-bolha3,
#expsou-formula .sou-stage .sou-bolha2.sou-bolha3,
#expsou-formula .sou-stage .sou-bolha3.sou-bolha3,
#expsou-formula .sou-stage .sou-bolha4.sou-bolha3,
#expsou-formula .sou-stage .sou-bolha5.sou-bolha3,
#expsou-formula .sou-stage .sou-bolha6.sou-bolha3 {
  width: 45px;
  height: 46px;
  top: 119px;
  left: 637px;
  background-position: -44px -106px;
}
/* line 287, ../sass/main.scss */
#expsou-formula .sou-stage .sou-bolha1.sou-bolha4,
#expsou-formula .sou-stage .sou-bolha2.sou-bolha4,
#expsou-formula .sou-stage .sou-bolha3.sou-bolha4,
#expsou-formula .sou-stage .sou-bolha4.sou-bolha4,
#expsou-formula .sou-stage .sou-bolha5.sou-bolha4,
#expsou-formula .sou-stage .sou-bolha6.sou-bolha4 {
  width: 19px;
  height: 19px;
  top: 294px;
  left: 736px;
  background-position: -143px -281px;
}
/* line 294, ../sass/main.scss */
#expsou-formula .sou-stage .sou-bolha1.sou-bolha5,
#expsou-formula .sou-stage .sou-bolha2.sou-bolha5,
#expsou-formula .sou-stage .sou-bolha3.sou-bolha5,
#expsou-formula .sou-stage .sou-bolha4.sou-bolha5,
#expsou-formula .sou-stage .sou-bolha5.sou-bolha5,
#expsou-formula .sou-stage .sou-bolha6.sou-bolha5 {
  width: 45px;
  height: 45px;
  top: 310px;
  left: 750px;
  background-position: -157px -297px;
}
/* line 306, ../sass/main.scss */
#expsou-formula .sou-stage .sou-cano1,
#expsou-formula .sou-stage .sou-cano2,
#expsou-formula .sou-stage .sou-cano3,
#expsou-formula .sou-stage .sou-frasco,
#expsou-formula .sou-stage .sou-torneira {
  position: absolute;
}
/* line 308, ../sass/main.scss */
#expsou-formula .sou-stage .sou-cano1.sou-cano1,
#expsou-formula .sou-stage .sou-cano2.sou-cano1,
#expsou-formula .sou-stage .sou-cano3.sou-cano1,
#expsou-formula .sou-stage .sou-frasco.sou-cano1,
#expsou-formula .sou-stage .sou-torneira.sou-cano1 {
  width: 299px;
  height: 1500px;
  top: -1243px;
  right: 30px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/cano1.png");
}
/* line 316, ../sass/main.scss */
#expsou-formula .sou-stage .sou-cano1.sou-cano2,
#expsou-formula .sou-stage .sou-cano2.sou-cano2,
#expsou-formula .sou-stage .sou-cano3.sou-cano2,
#expsou-formula .sou-stage .sou-frasco.sou-cano2,
#expsou-formula .sou-stage .sou-torneira.sou-cano2 {
  width: 1081px;
  height: 800px;
  top: -471px;
  left: -184px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/cano2.png");
}
/* line 324, ../sass/main.scss */
#expsou-formula .sou-stage .sou-cano1.sou-cano3,
#expsou-formula .sou-stage .sou-cano2.sou-cano3,
#expsou-formula .sou-stage .sou-cano3.sou-cano3,
#expsou-formula .sou-stage .sou-frasco.sou-cano3,
#expsou-formula .sou-stage .sou-torneira.sou-cano3 {
  width: 217px;
  height: 133px;
  top: 3px;
  right: -102px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/cano3.png");
}
/* line 332, ../sass/main.scss */
#expsou-formula .sou-stage .sou-cano1.sou-frasco,
#expsou-formula .sou-stage .sou-cano2.sou-frasco,
#expsou-formula .sou-stage .sou-cano3.sou-frasco,
#expsou-formula .sou-stage .sou-frasco.sou-frasco,
#expsou-formula .sou-stage .sou-torneira.sou-frasco {
  width: 106px;
  height: 113px;
  left: 118px;
  bottom: -130px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/frasco.png");
}
/* line 340, ../sass/main.scss */
#expsou-formula .sou-stage .sou-cano1.sou-torneira,
#expsou-formula .sou-stage .sou-cano2.sou-torneira,
#expsou-formula .sou-stage .sou-cano3.sou-torneira,
#expsou-formula .sou-stage .sou-frasco.sou-torneira,
#expsou-formula .sou-stage .sou-torneira.sou-torneira {
  width: 562px;
  height: 215px;
  top: 263px;
  left: -353px;
  background-repeat: no-repeat;
  background-image: url("../img/formula/torneira.png");
}
/* line 347, ../sass/main.scss */
#expsou-formula .sou-stage .sou-cano1.sou-torneira .sou-liquido,
#expsou-formula .sou-stage .sou-cano2.sou-torneira .sou-liquido,
#expsou-formula .sou-stage .sou-cano3.sou-torneira .sou-liquido,
#expsou-formula .sou-stage .sou-frasco.sou-torneira .sou-liquido,
#expsou-formula .sou-stage .sou-torneira.sou-torneira .sou-liquido {
  width: 5px;
  top: 214px;
  right: 41px;
  position: absolute;
  background: url("../img/formula/gota.png") no-repeat center bottom;
}

/* line 362, ../sass/main.scss */
#expsou-processo {
  z-index: 18;
  background: #7068ae;
}
/* line 365, ../sass/main.scss */
#expsou-processo .sou-topo {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  background: url("../img/processo/topo.png") no-repeat;
}
/* line 374, ../sass/main.scss */
#expsou-processo .sou-stage {
  width: 968px;
  height: 498px;
  top: 50%;
  margin-top: -247px;
  position: absolute;
  background: url("../img/processo/bg.jpg") no-repeat;
}
/* line 383, ../sass/main.scss */
#expsou-processo .sou-stage .sou-logo,
#expsou-processo .sou-stage .sou-processo-eficiente,
#expsou-processo .sou-stage .sou-e-feito-de-um-jeito {
  position: absolute;
  text-indent: -999em;
  background: url("../img/processo/sprite-texto.png") no-repeat;
}
/* line 387, ../sass/main.scss */
#expsou-processo .sou-stage .sou-logo.sou-logo,
#expsou-processo .sou-stage .sou-processo-eficiente.sou-logo,
#expsou-processo .sou-stage .sou-e-feito-de-um-jeito.sou-logo {
  width: 102px;
  height: 54px;
  top: 88px;
  left: 331px;
}
/* line 393, ../sass/main.scss */
#expsou-processo .sou-stage .sou-logo.sou-processo-eficiente,
#expsou-processo .sou-stage .sou-processo-eficiente.sou-processo-eficiente,
#expsou-processo .sou-stage .sou-e-feito-de-um-jeito.sou-processo-eficiente {
  width: 250px;
  height: 43px;
  top: 124px;
  left: 376px;
  background-position: 0 -59px;
}
/* line 400, ../sass/main.scss */
#expsou-processo .sou-stage .sou-logo.sou-e-feito-de-um-jeito,
#expsou-processo .sou-stage .sou-processo-eficiente.sou-e-feito-de-um-jeito,
#expsou-processo .sou-stage .sou-e-feito-de-um-jeito.sou-e-feito-de-um-jeito {
  width: 268px;
  height: 54px;
  top: 167px;
  left: 375px;
  background-position: 0 -102px;
}
/* line 411, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch,
#expsou-processo .sou-stage .sou-maquina,
#expsou-processo .sou-stage .sou-esteira,
#expsou-processo .sou-stage .sou-caminhao {
  position: absolute;
}
/* line 413, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-stopwatch,
#expsou-processo .sou-stage .sou-maquina.sou-stopwatch,
#expsou-processo .sou-stage .sou-esteira.sou-stopwatch,
#expsou-processo .sou-stage .sou-caminhao.sou-stopwatch {
  width: 88px;
  height: 104px;
  top: 61px;
  right: -100px;
  background: url("../img/processo/cronometro.png") no-repeat;
}
/* line 419, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-stopwatch .sou-pointer,
#expsou-processo .sou-stage .sou-maquina.sou-stopwatch .sou-pointer,
#expsou-processo .sou-stage .sou-esteira.sou-stopwatch .sou-pointer,
#expsou-processo .sou-stage .sou-caminhao.sou-stopwatch .sou-pointer {
  width: 11px;
  height: 29px;
  top: 46px;
  left: 39px;
  position: absolute;
  background: url("../img/processo/ponteiro.png") no-repeat;
}
/* line 428, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina,
#expsou-processo .sou-stage .sou-maquina.sou-maquina,
#expsou-processo .sou-stage .sou-esteira.sou-maquina,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina {
  width: 267px;
  height: 272px;
  top: 179px;
  left: 96px;
  background: url("../img/processo/maquina.png") no-repeat;
}
/* line 436, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-1,
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-2,
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-3,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-1,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-2,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-3,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-1,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-2,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-3,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-1,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-2,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/processo/engrenagem.png");
}
/* line 440, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-1.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-2.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-3.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-1.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-2.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-3.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-1.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-2.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-3.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-1.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-2.sou-engrenagem-1,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-3.sou-engrenagem-1 {
  width: 78px;
  height: 76px;
  top: 72px;
  left: -5px;
}
/* line 446, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-1.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-2.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-3.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-1.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-2.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-3.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-1.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-2.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-3.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-1.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-2.sou-engrenagem-2,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-3.sou-engrenagem-2 {
  width: 65px;
  height: 65px;
  top: 116px;
  left: 56px;
  background-position: -84px -8px;
}
/* line 453, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-1.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-2.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-stopwatch.sou-maquina .sou-engrenagem-3.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-1.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-2.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-maquina.sou-maquina .sou-engrenagem-3.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-1.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-2.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-esteira.sou-maquina .sou-engrenagem-3.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-1.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-2.sou-engrenagem-3,
#expsou-processo .sou-stage .sou-caminhao.sou-maquina .sou-engrenagem-3.sou-engrenagem-3 {
  width: 23px;
  height: 23px;
  top: 150px;
  left: 30px;
  background-position: -157px -33px;
}
/* line 462, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-esteira,
#expsou-processo .sou-stage .sou-maquina.sou-esteira,
#expsou-processo .sou-stage .sou-esteira.sou-esteira,
#expsou-processo .sou-stage .sou-caminhao.sou-esteira {
  width: 522px;
  height: 67px;
  top: 279px;
  left: 363px;
  overflow: hidden;
  padding-bottom: 12px;
}
/* line 469, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-esteira .sou-inner,
#expsou-processo .sou-stage .sou-maquina.sou-esteira .sou-inner,
#expsou-processo .sou-stage .sou-esteira.sou-esteira .sou-inner,
#expsou-processo .sou-stage .sou-caminhao.sou-esteira .sou-inner {
  width: 2394px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: url("../img/processo/esteira.png") repeat-x bottom;
}
/* line 476, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-esteira .sou-inner .sou-embalagens,
#expsou-processo .sou-stage .sou-maquina.sou-esteira .sou-inner .sou-embalagens,
#expsou-processo .sou-stage .sou-esteira.sou-esteira .sou-inner .sou-embalagens,
#expsou-processo .sou-stage .sou-caminhao.sou-esteira .sou-inner .sou-embalagens {
  height: 67px;
  margin: 0 522px;
  background: url("../img/processo/embalagens.png") repeat-x right top;
}
/* line 483, ../sass/main.scss */
#expsou-processo .sou-stage .sou-stopwatch.sou-caminhao,
#expsou-processo .sou-stage .sou-maquina.sou-caminhao,
#expsou-processo .sou-stage .sou-esteira.sou-caminhao,
#expsou-processo .sou-stage .sou-caminhao.sou-caminhao {
  width: 465px;
  height: 355px;
  top: 125px;
  right: -376px;
  background: url("../img/processo/caminhao.png") no-repeat;
}

/* line 497, ../sass/main.scss */
#expsou-embalagem {
  background: white url("../img/embalagem/topo.png") no-repeat;
}
/* line 499, ../sass/main.scss */
#expsou-embalagem .sou-stage {
  width: 968px;
  height: 451px;
  top: 50%;
  margin-top: -225px;
  position: absolute;
}
/* line 507, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-logo,
#expsou-embalagem .sou-stage .sou-uma-nova-embalagem,
#expsou-embalagem .sou-stage .sou-e-feito-de-um-jeito {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/embalagem/sprite-text.png");
}
/* line 512, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-logo.sou-logo,
#expsou-embalagem .sou-stage .sou-uma-nova-embalagem.sou-logo,
#expsou-embalagem .sou-stage .sou-e-feito-de-um-jeito.sou-logo {
  width: 103px;
  height: 53px;
  top: 10px;
  left: 90px;
}
/* line 518, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-logo.sou-uma-nova-embalagem,
#expsou-embalagem .sou-stage .sou-uma-nova-embalagem.sou-uma-nova-embalagem,
#expsou-embalagem .sou-stage .sou-e-feito-de-um-jeito.sou-uma-nova-embalagem {
  width: 291px;
  height: 39px;
  top: 55px;
  left: 131px;
  background-position: 0 -55px;
}
/* line 525, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-logo.sou-e-feito-de-um-jeito,
#expsou-embalagem .sou-stage .sou-uma-nova-embalagem.sou-e-feito-de-um-jeito,
#expsou-embalagem .sou-stage .sou-e-feito-de-um-jeito.sou-e-feito-de-um-jeito {
  width: 230px;
  height: 35px;
  top: 95px;
  left: 131px;
  background-position: 0 -94px;
}
/* line 534, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores,
#expsou-embalagem .sou-stage .sou-caminhao {
  position: absolute;
}
/* line 536, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores {
  width: 300%;
  height: 170px;
  right: 0;
  top: 173px;
  border-bottom: 4px solid #4d716c;
}
/* line 544, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: repeat-x;
  background-position: 345px bottom;
}
/* line 550, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-1,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-1,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-1,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-1,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-1,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-1 {
  z-index: 2;
  background-image: url("../img/embalagem/arvores-camada-1.png");
}
/* line 553, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-1 .sou-selo,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-1 .sou-selo,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-1 .sou-selo,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-1 .sou-selo,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-1 .sou-selo,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-1 .sou-selo {
  width: 234px;
  height: 202px;
  top: -18px;
  left: 107px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/embalagem/selo.jpg");
}
/* line 563, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-2,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-2,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-2,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-2,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-2,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-2 {
  z-index: 1;
  background-image: url("../img/embalagem/arvores-camada-2.png");
}
/* line 567, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-3,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-3,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-3,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-3,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-3,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-3 {
  background-image: url("../img/embalagem/arvores-camada-3.png");
}
/* line 569, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-1.sou-camada-3 .sou-tapume-branco,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-2.sou-camada-3 .sou-tapume-branco,
#expsou-embalagem .sou-stage .sou-arvores.sou-arvores .sou-camada-3.sou-camada-3 .sou-tapume-branco,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-1.sou-camada-3 .sou-tapume-branco,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-2.sou-camada-3 .sou-tapume-branco,
#expsou-embalagem .sou-stage .sou-caminhao.sou-arvores .sou-camada-3.sou-camada-3 .sou-tapume-branco {
  width: 100px;
  height: 188px;
  top: -18px;
  left: 770px;
  position: absolute;
  background-color: #FFF;
}
/* line 580, ../sass/main.scss */
#expsou-embalagem .sou-stage .sou-arvores.sou-caminhao,
#expsou-embalagem .sou-stage .sou-caminhao.sou-caminhao {
  width: 380px;
  height: 280px;
  top: 151px;
  left: 507px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("../img/embalagem/caminhao.png");
}

/* line 596, ../sass/main.scss */
#expsou-essencial {
  overflow: hidden;
  background: #e60e64;
}
/* line 599, ../sass/main.scss */
#expsou-essencial .sou-stage {
  width: 968px;
  height: 542px;
  top: 50%;
  margin-top: -271px;
  position: absolute;
}
/* line 607, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-logo,
#expsou-essencial .sou-stage .sou-essencial,
#expsou-essencial .sou-stage .sou-o-que-e-importante {
  z-index: 100;
  position: absolute;
  text-indent: -999em;
  background: url("../img/essencial/sprite-text.png") no-repeat;
}
/* line 612, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-logo.sou-logo,
#expsou-essencial .sou-stage .sou-essencial.sou-logo,
#expsou-essencial .sou-stage .sou-o-que-e-importante.sou-logo {
  width: 103px;
  height: 53px;
  top: 177px;
  left: 352px;
}
/* line 618, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-logo.sou-essencial,
#expsou-essencial .sou-stage .sou-essencial.sou-essencial,
#expsou-essencial .sou-stage .sou-o-que-e-importante.sou-essencial {
  width: 120px;
  height: 33px;
  top: 215px;
  left: 401px;
  background-position: 0 -56px;
}
/* line 625, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-logo.sou-o-que-e-importante,
#expsou-essencial .sou-stage .sou-essencial.sou-o-que-e-importante,
#expsou-essencial .sou-stage .sou-o-que-e-importante.sou-o-que-e-importante {
  width: 211px;
  height: 18px;
  top: 253px;
  left: 401px;
  background-position: 0 -94px;
}
/* line 633, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-layer {
  top: 0;
  left: 0;
  position: absolute;
}
/* line 637, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-layer.sou-layer-1 {
  z-index: 5;
}
/* line 638, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-layer.sou-layer-2 {
  z-index: 4;
}
/* line 639, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-layer.sou-layer-3 {
  z-index: 3;
}
/* line 640, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-layer.sou-layer-4 {
  z-index: 2;
}
/* line 641, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-layer.sou-layer-5 {
  z-index: 1;
}
/* line 643, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/essencial/gotas.png");
}
/* line 650, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-size-1 {
  width: 195px;
  height: 280px;
}
/* line 651, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-size-2 {
  width: 180px;
  height: 255px;
  background-position: -216px -26px;
}
/* line 652, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-size-3 {
  width: 127px;
  height: 174px;
  background-position: -421px -106px;
}
/* line 653, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-size-4 {
  width: 76px;
  height: 98px;
  background-position: -579px -182px;
}
/* line 654, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-size-5 {
  width: 47px;
  height: 58px;
  background-position: -680px -222px;
}
/* line 655, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-size-6 {
  width: 35px;
  height: 48px;
  background-position: -744px -232px;
}
/* line 657, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-1 {
  top: -212px;
  left: -50px;
}
/* line 658, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-2 {
  top: -225px;
  left: 338px;
}
/* line 659, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-3 {
  top: -125px;
  left: 747px;
}
/* line 660, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-4 {
  top: 158px;
  left: 815px;
}
/* line 661, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-5 {
  top: 323px;
  left: 370px;
}
/* line 662, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-6 {
  top: 45px;
  left: 242px;
}
/* line 663, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-7 {
  top: -37px;
  left: 501px;
}
/* line 664, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-8 {
  top: 445px;
  left: 620px;
}
/* line 665, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-position-9 {
  top: 399px;
  left: 345px;
}
/* line 667, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-text {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/essencial/gotas-mensagens.png");
}
/* line 672, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-text.sou-fragancia {
  width: 231px;
  height: 328px;
  top: 192px;
  left: 676px;
}
/* line 678, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-text.sou-eficiente {
  width: 174px;
  height: 247px;
  top: 89px;
  left: 132px;
  background-position: -241px -81px;
}
/* line 685, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-text.sou-envolve {
  width: 136px;
  height: 200px;
  top: 11px;
  left: 580px;
  background-position: -428px -128px;
}
/* line 696, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-escorrendo-1,
#expsou-essencial .sou-stage .sou-gota-escorrendo-2,
#expsou-essencial .sou-stage .sou-gota-escorrendo-3,
#expsou-essencial .sou-stage .sou-gota-escorrendo-4 {
  top: 0;
  position: absolute;
  background: url("../img/essencial/sprite-gotas.png") no-repeat;
}
/* line 700, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-1,
#expsou-essencial .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-1,
#expsou-essencial .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-1,
#expsou-essencial .sou-stage .sou-gota-escorrendo-4.sou-gota-escorrendo-1 {
  width: 3px;
  height: 300px;
  left: 56px;
  background-position: left bottom;
}
/* line 706, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-2,
#expsou-essencial .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-2,
#expsou-essencial .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-2,
#expsou-essencial .sou-stage .sou-gota-escorrendo-4.sou-gota-escorrendo-2 {
  width: 4px;
  height: 450px;
  left: 307px;
  background-position: -12px bottom;
}
/* line 712, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-3,
#expsou-essencial .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-3,
#expsou-essencial .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-3,
#expsou-essencial .sou-stage .sou-gota-escorrendo-4.sou-gota-escorrendo-3 {
  width: 18px;
  height: 200px;
  left: 318px;
  background-position: -28px bottom;
}
/* line 718, ../sass/main.scss */
#expsou-essencial .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-4,
#expsou-essencial .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-4,
#expsou-essencial .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-4,
#expsou-essencial .sou-stage .sou-gota-escorrendo-4.sou-gota-escorrendo-4 {
  width: 8px;
  height: 300px;
  left: 913px;
  background-position: -59px bottom;
}
/* line 728, ../sass/main.scss */
#expsou-essencial .sou-ondas-1,
#expsou-essencial .sou-ondas-2,
#expsou-essencial .sou-ondas-3 {
  width: 160px;
  height: 1243px;
  position: absolute;
  background: url("../img/essencial/bgs.png") no-repeat;
}
/* line 733, ../sass/main.scss */
#expsou-essencial .sou-ondas-1.sou-ondas-1,
#expsou-essencial .sou-ondas-2.sou-ondas-1,
#expsou-essencial .sou-ondas-3.sou-ondas-1 {
  left: 70px;
}
/* line 734, ../sass/main.scss */
#expsou-essencial .sou-ondas-1.sou-ondas-2,
#expsou-essencial .sou-ondas-2.sou-ondas-2,
#expsou-essencial .sou-ondas-3.sou-ondas-2 {
  left: 8px;
  background-position: -202px 0;
}
/* line 735, ../sass/main.scss */
#expsou-essencial .sou-ondas-1.sou-ondas-3,
#expsou-essencial .sou-ondas-2.sou-ondas-3,
#expsou-essencial .sou-ondas-3.sou-ondas-3 {
  left: 766px;
  background-position: -202px 0;
}

/* line 742, ../sass/main.scss */
#expsou-ultima-gota {
  background: #ffffff;
}
/* line 744, ../sass/main.scss */
#expsou-ultima-gota .sou-stage {
  width: 968px;
  height: 434px;
  top: 50%;
  margin-top: -217px;
  position: absolute;
}
/* line 751, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-logo,
#expsou-ultima-gota .sou-stage .sou-outra-vantagem {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/ultima-gota/sprite-text.png");
}
/* line 756, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-logo.sou-logo,
#expsou-ultima-gota .sou-stage .sou-outra-vantagem.sou-logo {
  width: 280px;
  height: 50px;
  top: 181px;
  left: 42px;
}
/* line 762, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-logo.sou-outra-vantagem,
#expsou-ultima-gota .sou-stage .sou-outra-vantagem.sou-outra-vantagem {
  width: 240px;
  height: 57px;
  top: 175px;
  left: 657px;
  background-position: 0 -51px;
}
/* line 770, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens {
  top: 284px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
}
/* line 776, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens.sou-left {
  left: -11px;
}
/* line 777, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens.sou-right {
  right: -35px;
}
/* line 778, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li {
  width: 38px;
  height: 42px;
  float: left;
  margin-right: 18px;
  background: url("../img/ultima-gota/embalagens.png") no-repeat;
}
/* line 784, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-1 {
  background-position: 0 0;
}
/* line 785, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-2 {
  background-position: -56px 0;
}
/* line 786, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-3 {
  background-position: -112px 0;
}
/* line 787, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-4 {
  background-position: -224px 0;
}
/* line 788, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-5 {
  background-position: -280px 0;
}
/* line 789, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-6 {
  background-position: -336px 0;
}
/* line 790, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-7 {
  background-position: -392px 0;
}
/* line 791, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-8 {
  background-position: -448px 0;
}
/* line 792, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-9 {
  background-position: -504px 0;
}
/* line 793, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-10 {
  background-position: -560px 0;
}
/* line 794, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-11 {
  background-position: -616px 0;
}
/* line 795, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-12 {
  background-position: -672px 0;
}
/* line 796, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-13 {
  background-position: -728px 0;
}
/* line 797, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagens li.sou-embalagem-14 {
  background-position: -784px 0;
}
/* line 800, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal {
  width: 320px;
  height: 320px;
  top: 90px;
  left: 325px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/ultima-gota/sprite-embalagem.png");
}
/* line 808, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="0"] {
  background-position: 0 0;
}
/* line 809, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="1"] {
  background-position: -320px 0;
}
/* line 810, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="2"] {
  background-position: -640px 0;
}
/* line 811, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="3"] {
  background-position: -960px 0;
}
/* line 812, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="4"] {
  background-position: -1280px 0;
}
/* line 813, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="5"] {
  background-position: -1600px 0;
}
/* line 814, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="6"] {
  background-position: -1920px 0;
}
/* line 815, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="7"] {
  background-position: -2240px 0;
}
/* line 816, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="8"] {
  background-position: -2560px 0;
}
/* line 817, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal[data-step="9"] {
  background-position: -2880px 0;
}
/* line 818, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-embalagem-principal .sou-gota {
  width: 6px;
  top: 252px;
  left: 215px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/ultima-gota/gota.png");
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 835, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-1,
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-2,
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-3 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/ultima-gota/gota-vermelha.png");
}
/* line 839, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-1,
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-1,
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-1 {
  width: 6px;
  height: 200px;
  left: 235px;
  background-position: 0 bottom;
}
/* line 845, ../sass/main.scss */
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-1.sou-gota-escorrendo-2,
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-2.sou-gota-escorrendo-2,
#expsou-ultima-gota .sou-stage .sou-gota-escorrendo-3.sou-gota-escorrendo-2 {
  width: 18px;
  height: 200px;
  left: 247px;
  background-position: -17px bottom;
}

/* line 858, ../sass/main.scss */
#expsou-menos-residuo {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: #7ecdc3;
}
/* line 863, ../sass/main.scss */
#expsou-menos-residuo .sou-frame {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 27px solid #fff;
}
/* line 874, ../sass/main.scss */
#expsou-menos-residuo .sou-folha-1,
#expsou-menos-residuo .sou-folha-2,
#expsou-menos-residuo .sou-folha-3,
#expsou-menos-residuo .sou-folha-4 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/menos-residuos/sprite-folhas.png");
}
/* line 878, ../sass/main.scss */
#expsou-menos-residuo .sou-folha-1.sou-folha-1,
#expsou-menos-residuo .sou-folha-2.sou-folha-1,
#expsou-menos-residuo .sou-folha-3.sou-folha-1,
#expsou-menos-residuo .sou-folha-4.sou-folha-1 {
  width: 167px;
  height: 85px;
  top: 157px;
  left: -16px;
  background-position: 0 -15px;
}
/* line 885, ../sass/main.scss */
#expsou-menos-residuo .sou-folha-1.sou-folha-2,
#expsou-menos-residuo .sou-folha-2.sou-folha-2,
#expsou-menos-residuo .sou-folha-3.sou-folha-2,
#expsou-menos-residuo .sou-folha-4.sou-folha-2 {
  width: 51px;
  height: 42px;
  top: 81px;
  left: 188px;
  background-position: -220px -9px;
}
/* line 892, ../sass/main.scss */
#expsou-menos-residuo .sou-folha-1.sou-folha-3,
#expsou-menos-residuo .sou-folha-2.sou-folha-3,
#expsou-menos-residuo .sou-folha-3.sou-folha-3,
#expsou-menos-residuo .sou-folha-4.sou-folha-3 {
  width: 75px;
  height: 39px;
  top: 300px;
  left: 785px;
  background-position: -207px -79px;
}
/* line 899, ../sass/main.scss */
#expsou-menos-residuo .sou-folha-1.sou-folha-4,
#expsou-menos-residuo .sou-folha-2.sou-folha-4,
#expsou-menos-residuo .sou-folha-3.sou-folha-4,
#expsou-menos-residuo .sou-folha-4.sou-folha-4 {
  width: 201px;
  height: 130px;
  top: 107px;
  left: 732px;
  background-position: -326px 0;
}
/* line 907, ../sass/main.scss */
#expsou-menos-residuo .sou-tree {
  left: 50%;
  position: absolute;
}
/* line 911, ../sass/main.scss */
#expsou-menos-residuo .sou-text {
  width: 898px;
  height: 20px;
  left: 35px;
  bottom: 20px;
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/menos-residuos/sprite-text.png");
}

/* line 926, ../sass/main.scss */
#expsou-menos-final {
  background: #ffffff;
}
/* line 928, ../sass/main.scss */
#expsou-menos-final .sou-stage {
  width: 968px;
  height: 513px;
  top: 50%;
  margin-top: -257px;
  position: absolute;
}
/* line 935, ../sass/main.scss */
#expsou-menos-final .sou-stage .sou-o-que-voce,
#expsou-menos-final .sou-stage .sou-novo-jeito-de-consumir {
  position: absolute;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-image: url("../img/produtos/sprite-text.png");
}
/* line 940, ../sass/main.scss */
#expsou-menos-final .sou-stage .sou-o-que-voce.sou-o-que-voce,
#expsou-menos-final .sou-stage .sou-novo-jeito-de-consumir.sou-o-que-voce {
  width: 410px;
  height: 38px;
  top: 35px;
  left: 186px;
}
/* line 946, ../sass/main.scss */
#expsou-menos-final .sou-stage .sou-o-que-voce.sou-novo-jeito-de-consumir,
#expsou-menos-final .sou-stage .sou-novo-jeito-de-consumir.sou-novo-jeito-de-consumir {
  width: 585px;
  height: 35px;
  top: 65px;
  left: 242px;
  background-position: 0 -39px;
}
/* line 954, ../sass/main.scss */
#expsou-menos-final .sou-stage ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 958, ../sass/main.scss */
#expsou-menos-final .sou-stage ul li {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/produtos/produtos.png");
}
/* line 962, ../sass/main.scss */
#expsou-menos-final .sou-stage ul li.sou-product-1 {
  width: 270px;
  height: 384px;
  top: 116px;
  left: 10px;
  z-index: 5;
}
/* line 969, ../sass/main.scss */
#expsou-menos-final .sou-stage ul li.sou-product-2 {
  width: 222px;
  height: 316px;
  top: 130px;
  left: 167px;
  z-index: 4;
  background-position: -294px -55px;
}
/* line 977, ../sass/main.scss */
#expsou-menos-final .sou-stage ul li.sou-product-3 {
  width: 188px;
  height: 238px;
  top: 155px;
  left: 285px;
  background-position: -535px -110px;
}
/* line 984, ../sass/main.scss */
#expsou-menos-final .sou-stage ul li.sou-product-4 {
  width: 195px;
  height: 240px;
  top: 155px;
  right: 300px;
  z-index: 4;
  background-position: -732px -110px;
}
/* line 992, ../sass/main.scss */
#expsou-menos-final .sou-stage ul li.sou-product-5 {
  width: 235px;
  height: 316px;
  top: 134px;
  right: 163px;
  z-index: 5;
  background-position: -935px -55px;
}
/* line 1000, ../sass/main.scss */
#expsou-menos-final .sou-stage ul li.sou-product-6 {
  width: 277px;
  height: 384px;
  top: 116px;
  right: 10px;
  z-index: 5;
  background-position: -1216px 0;
}
